<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title>Videlish</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        </script>
    </head>
    <body>
        <script>
 
            $( document ).ready(function() {
                $(document).off('modal.data-api');
                $('#popover').popover({ 
                    html : true,
                    title: function() {
                      return $("#popover-head").html();
                    },
                    content: function() {
                      return $("#popover-content").html();
                    }
                });
                // process the form
                $('body').on('blur','#addYoutubeVideoId',function(e) {
                    
                    e.preventDefault();
                    // get the form data
                    // there are many ways to get this data using jQuery (you can use the class or id also)
                    var formData = {
                        'youtube_id'              : $('#addYoutubeVideoId').val()
                    };
                    // process the form
                    $.ajax({
                        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                        url         : $SCRIPT_ROOT + '/find_youtube_video', // the url where we want to POST
                        data        : formData, // our data object
                        dataType    : 'html', // what type of data do we expect back from the server
                       encode       : true
                    })
                        // using the done promise callback
                        .done(function( htmlResult ) {
                            alert("Hello World");
                            $("#addYoutubeVideo").html(htmlResult);
                           
                      })
                      .fail(function( xhr, status, errorThrown ) {
                        alert( "Sorry, there was a problem! Error:" + errorThrown   );
                        console.log( "Error: " + errorThrown );
                        console.log( "Status: " + status );
                      });

                    // stop the form from submitting the normal way and refreshing the page
                    //event.preventDefault();
                });

                $(".btn-open-recipe").mouseover(function () {
                      $(this).children("img.play").attr('src', $(this).children("img.play").data("hover"));
                    }).mouseout(function () {
                      $(this).children("img.play").attr('src', $(this).children("img.play").data("src"));
                    });
                $( ".btn-open-recipe" ).click(function( event ) {
                // Using the core $.ajax() method
                    $.ajax({
                     
                        // The URL for the request
                        url: $SCRIPT_ROOT + '/getVideo/' + $(this).children("div.recipeID").text(),
                  
                     
                        // Whether this is a POST or GET request
                        type: "GET",
                     
                        // The type of data we expect back
                        dataType : "html",
                    })
                      // Code to run if the request succeeds (is done);
                      // The response is passed to the function
                      .done(function( htmlResult ) {
                          $("#insertmodalhere").html(htmlResult)
                          //$("#modalContent").prepend(htmlResult)
                          $('#modalVideo').modal('show')
                      })
                      // Code to run if the request fails; the raw request and
                      // status codes are passed to the function
                      .fail(function( xhr, status, errorThrown ) {
                        alert( "Sorry, there was a problem! Error:" + errorThrown   );
                        console.log( "Error: " + errorThrown );
                        console.log( "Status: " + status );
                        console.dir( xhr );
                      })
                });
                $('#modalVideo').on('hidden.bs.modal', function (e) {
                    //this function comes from youtubeVideo.html
                    stopVideoPlaybackOnClose();
                    
                    
                });
            });
 
        </script>   
        <div class="container">
            <div class="row header">
                <div class="col-xs-6">
                    <img src="static/VidelishWord2.png">
                    
                </div>
                <div class="col-xs-6 text-right header-btn">
                    {% block userInfo %}
                    <button type="button" class="btn btn-default search" aria-label="Search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <a tabindex="0" id="popover" class="btn btn-default plus header-icon" aria-label="Plus" role="button" data-toggle="popover" data-placement="bottom">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    <div id="popover-head" class="hide">
                        Add Video
                    </div>
                    <div id="popover-content" class="hide">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#">YouTube</a>
                                <div id="addYoutubeVideo">
                                    <form id="addYoutubeVideoForm"  method = 'post'>
                                        <label>YouTube Id</label>
                                        <input type="text" class="add-video-textbox" id="addYoutubeVideoId" name=youtube_id />
                                        <label>Tags</label>
                                        <input type="text" class="add-video-textbox" name=tags />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle userNameButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Hi, {{username}}! <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">My Recipes</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                      </ul>
                    
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="modal fade bs-example-modal-lg" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" id="insertmodalhere" role="document">
                </div>
            </div>
            <div class="row siteContent">
                {% for recipe in recipes %}
                <div class="col-sm-6 col-md-4 col-lg-3 bento">
                    <div class="recipe">
                        
                        <div class='img-responsive' style="position: relative;">
                            <button class="btn btn-primary btn-open-recipe" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <div class="recipeID" hidden>{{recipe.id}}</div>
                                <img class="img-responsive" src={{recipe.photo}} >
                                <img data-src="static/play-3-32.png" data-hover="static/play-3-32-blue.png" class="img-responsive play"  src="static/play-3-32.png"  >
                            </button>
                        </div>
                        <h3 class='recipeName'>{{recipe.name}}</h3>
                        <h6>{{recipe.credit}}</h6>
                        <div class="row">
                            <div class="col-xs-5">
                                 <button type="button" class="btn btn-default like-btn" aria-label="Thumbs Up">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </button>
                                {{recipe.likeCount}}
                            </div>
                            <div class="col-xs-7 text-right">
                                <h6>{{recipe.user_name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
              </div>

            </div>
        </div>
      
    </body>
</html>